<nav
  class="fixed top-0 left-1/2 transform -translate-x-1/2 w-4/5 z-50 flex justify-between items-center px-10 py-4 transition-all duration-300 rounded-lg"
  [ngClass]="{
    'bg-transparent text-white': !isScrolled,
    'bg-white shadow-md text-black': isScrolled
  }"
>
  <a (click)="scrollToSection('home')" class="text-3xl font-bold cursor-pointer"
    >Benedict</a
  >

  <div class="hidden md:flex gap-5">
    <a (click)="scrollToSection('home')" class="text-xl cursor-pointer">Home</a>
    <a (click)="scrollToSection('about')" class="text-xl cursor-pointer"
      >About</a
    >
    <a (click)="scrollToSection('services')" class="text-xl cursor-pointer"
      >Services</a
    >
    <a (click)="scrollToSection('contact')" class="text-xl cursor-pointer"
      >Contact</a
    >
  </div>

  <!-- Mobile Menu Button -->
  <button
    class="md:hidden text-3xl"
    [ngClass]="{ 'text-white': !isScrolled, 'text-black': isScrolled }"
    (click)="isMenuOpen = !isMenuOpen"
  >
    ☰
  </button>

  <!-- Mobile Menu -->
  <div
    *ngIf="isMenuOpen"
    class="absolute top-full left-0 w-full bg-white shadow-md flex flex-col items-center gap-4 py-4 md:hidden"
  >
    <a
      (click)="scrollToSection('home'); isMenuOpen = false"
      class="text-xl cursor-pointer text-black hover:text-gray-600"
      >Home</a
    >
    <a
      (click)="scrollToSection('about'); isMenuOpen = false"
      class="text-xl cursor-pointer text-black hover:text-gray-600"
      >About</a
    >
    <a
      (click)="scrollToSection('services'); isMenuOpen = false"
      class="text-xl cursor-pointer text-black hover:text-gray-600"
      >Services</a
    >
    <a
      (click)="scrollToSection('contact'); isMenuOpen = false"
      class="text-xl cursor-pointer text-black hover:text-gray-600"
      >Contact</a
    >
  </div>
</nav>
